<h1>Welcome!</h1>

<h2>List of Projects</h2>



<ul id="projects">
<div class="row">

<% @nodes.each do |node| %>

<li> <%=  link_to node.name, node_path(node), class: 'projects_index col-md-3 btn btn-default btn-lg', id: "node_#{node.id}" %> </li>

<% end %>





<button type="button" class="new_project col-md-3 btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  CREATE NEW PROJECT
</button>


</ul>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create a New Project</h4>
      </div>
      <div class="modal-body">

      

          <%= simple_form_for @new_node do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :parent_id, as: :hidden %>
            
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default bgcl" data-dismiss="modal">Close</button>
        <%= f.button :submit %>
          
      </div>
    </div>
  </div>
</div>
<% end %>